#product-32194 .woocommerce-product-gallery,
#product-32194 .stock,
#product-32194 .product_meta {
  display: none;
  border: none;
  margin: none;
}

#product-32194 #wccf_product_field_master_container {
  /*display: flex;
	flex-direction: column-reverse;*/
}

#product-32194 .price {
  font-size: 2em;
  margin-bottom: 1em;
}
.woocommerce .actions .button {
  margin-left: 1em;
}

.dw-social-icons__wrapper .dw-social-icons__link,
.dw-social-icons__wrapper .dw-social-icons__link:visited {
  background-color: #234c96;
}

.dw-social-icons__wrapper .dw-social-icons__link:hover,
.dw-social-icons__wrapper .dw-social-icons__link:visited:hover {
  background-color: #2d5fbe;
}

#product-32194 #wccf_product_field_master_container {
  max-width: 500px;
}

/* fix dwToggles */

.dw-toggle-container .gb-inside-container {
  padding: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.dwToggleHeader {
  margin: 1em 0;
  cursor: pointer;
  position: static;
  padding-left: 32px;
}

.dw-events-date {
  color: #183466;
}

.dw-events-location {
  margin-bottom: 1em;
}

/* dog adoption product payment */
.page-id-29880 #product-33302 .woocommerce-product-gallery,
.page-id-29880 #product-33302 .product_meta {
  display: none;
}
.page-id-29880 #product-33302 .price {
  margin-bottom: 0;
}

.page-id-29880 #product-33302 .product_title {
  font-size: 24px;
}

/* remove top border on product meta */

.summary.entry-summary > .product_meta {
  border-top: none;
}

/* pricing tables */
.dw-table {
  width: auto;
}

.dw-table thead td {
  font-weight: bold;
}

/* woo add to cart bit fix */
.woocommerce-variation-add-to-cart {
  align-items: baseline;
}

/* prevent layout shift when price updates */
.rightpress_product_price_live_update > dd {
  min-width: 3.75em;
}

/* rp donation block */
.rp-donation-block .input.text {
  display: flex;
  flex-direction: column;
}

.rp-donation-block .input.text .button {
  margin-top: 0.5em;
}

/*fix padding bug*/
.gb-inside-container {
  padding-top: 0;
}

/* add donation cart btn */
input.button.donate-btn,
input.button.donate-remove {
  max-width: 200px;
}

/* front page sponsor logos 
 * refactor so bottom argin is on container not individ cols */

.gb-container-f0e948f2 > .gb-inside-container,
.gb-container-a7332338 > .gb-inside-container,
.gb-container-de07341c > .gb-inside-container,
.gb-container-95f3de5a > .gb-inside-container {
  margin-bottom: 40px;
}

The "custom_html" block was affected by errors and may not function properly. Check the developer tools for more details.

<a href="/support-us/donations/" class="dw-donate-button">Donate</a>
<div class="dw-social-icons__wrapper dw-social-icons__wrapper--header">
	<ul class="dw-social-icons">
		<li class="dw-social-icons__item">
			<a class="dw-social-icons__link" rel="nofollow noopener noreferrer" title="Visit us on Facebook" aria-label="Facebook"
				href="https://www.facebook.com/DogwatchSanctuaryTrust"
				target="_blank">
				<svg aria-hidden="true" focusable="false" class="dw-social-icons__svg-inline" role="img"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
					<path fill="currentColor"
						d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
					</path>
				</svg>
			</a>
		</li>
		<li class="dw-social-icons__item mobile-only">
			<a class="dw-social-icons__link" rel="nofollow noopener noreferrer" title="Call our landline phone" aria-label="Phone"
				href="tel:03 981 4708" target="_blank">
				<svg aria-hidden="true" focusable="false" class="dw-social-icons__svg-inline" role="img"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<path fill="currentColor"
						d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
					</path>
				</svg>
			</a>
		</li>
	</ul>
</div>