.wp-block-getwid-accordion {

	.wp-block-getwid-accordion__header {

		a {}
	}

	.wp-block-getwid-accordion__header-wrapper {

		border: none;
		border-bottom: solid 1px #daddd8;

		&:first-child {
			border: none;
			border-bottom: solid 1px #daddd8;
		}

		&.ui-state-active,
		&:hover {
			a {}
		}
	}

	.wp-block-getwid-accordion__icon {}

	.wp-block-getwid-accordion__content {

		border: none;

		:last-child {
			margin-bottom: 0;
		}

	}
}