// Removed from getwid master

.wp-block-getwid-toggle {
	width: 100%;

	&.dw-toggle-group {
		margin-bottom: 0 !important;
	}
}

.wp-block-getwid-toggle__row {
	margin: 0;
}

.wp-block-getwid-toggle__row:first-child .wp-block-getwid-toggle__header-wrapper {
	border: none;
}

.wp-block-getwid-toggle__row.is-active .wp-block-getwid-toggle__icon.is-active {
	display: none
}

.wp-block-getwid-toggle__row.is-active .wp-block-getwid-toggle__icon.is-passive {
	display: initial
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header {
	margin: 0;
	padding: 0.5em 0;
	border: 0;
	width: 100%;
	display: block;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header:before,
.wp-block-getwid-toggle .wp-block-getwid-toggle__header:after {
	display: none
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none !important;
	border: 0;
	box-shadow: none;
	color: inherit;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header a:before,
.wp-block-getwid-toggle .wp-block-getwid-toggle__header a:after {
	display: none
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header a:hover,
.wp-block-getwid-toggle .wp-block-getwid-toggle__header a:focus {
	outline: none;
	border: 0;
	text-decoration: none !important;
	box-shadow: none
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header a:hover:before,
.wp-block-getwid-toggle .wp-block-getwid-toggle__header a:hover:after,
.wp-block-getwid-toggle .wp-block-getwid-toggle__header a:focus:before,
.wp-block-getwid-toggle .wp-block-getwid-toggle__header a:focus:after {
	display: none
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header-wrapper {
	padding: 0;
	border: none;
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header-title {
	margin: 0;
	padding: 0
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header-title:before,
.wp-block-getwid-toggle .wp-block-getwid-toggle__header-title:after {
	display: none
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header:focus {
	outline: none
}

.wp-block-getwid-toggle .wp-block-getwid-toggle__header:hover {
	cursor: pointer
}

.wp-block-getwid-toggle__icon {
	margin: 0 0 0 0.75em;
	line-height: 0
}

.wp-block-getwid-toggle__icon.is-passive {
	display: none
}

.wp-block-getwid-toggle__icon i {
	font-size: 0.75em
}

.wp-block-getwid-toggle__content {
	padding: 1.5em;
	display: none;
	border: none;
}

.wp-block-getwid-toggle__title {
	margin: 0
}

.has-icon-left .wp-block-getwid-toggle__row .wp-block-getwid-toggle__header a {
	flex-direction: row-reverse;
	justify-content: flex-end
}

.has-icon-left .wp-block-getwid-toggle__row .wp-block-getwid-toggle__icon {
	margin: 0 0.75em 0 0
}