// home page CTA x3
.dw-home-box-container {
  color: #000;
  //   margin-bottom: 50px;

  .gb-button-wrapper .dw-button {
    @media only screen and (min-width: 1024px) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  .gb-headline {
    color: #000;
    font-size: 34px;
    font-weight: 700;
  }

  .dw-home-box-img {
    max-width: 200px;
    margin: 0 0 20px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    + p {
      @media only screen and (max-width: $bp) {
        text-align: center;
      }
    }
  }
}

.gb-container.gb-container-cd7f4f9a,
.gb-container .gb-container-58524576 {
  //adoption
  background-image: url("/wp-content/themes/dogwatch/img/360x360-adopt.jpg");
}

.gb-container.gb-container-9d766fe2,
.gb-container .gb-container-14da2f44 {
  //volunteer
  background-image: url("/wp-content/themes/dogwatch/img/360x360-volunteer.jpg");

  + p {
    letter-spacing: -0.1px;
  }
}

.gb-container.gb-container-866e2d06,
.gb-container.gb-container-889ac1ec {
  //donate
  background-image: url("/wp-content/themes/dogwatch/img/360x360-donate.jpg");
}

.gb-container.gb-container-0c460fb9,
.gb-container.gb-container-f0ba4f44 {
  //about us
  background-image: url("/wp-content/themes/dogwatch/img/360x360-about-us.jpg");
}

.dw-home-slider {
  @media only screen and (min-width: 1040px) {
    min-height: 529px;
  }

  @media only screen and (min-width: 1240px) {
    min-height: 635px;
  }
}

.dw-hero-heading {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  background: #000;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-shadow: none !important;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
  }
}

// override GP site-wide container settings, full col width

.home .site-content {
  padding: 0;
}
