// remove float fixes to allow flex layout
.site-header.grid-container:before,
.site-header.grid-container:after,
.inside-header:not(.grid-container):after {
	content: "";
	display: none;
}

//lazyload opacity fix for dog gallery sliders
.sp-image.lazyload,
.sp-image.lazyloading,
.sp-image.lazyloaded,
.sp-thumbnail.lazyload,
.sp-thumbnail.lazyloading,
.sp-thumbnail.lazyloaded {
	opacity: 1 !important;
}

//reduce burger button to allow for donate button to work
@media only screen and (max-width: 1040px) {

	.inside-header {
		position: relative;
		z-index: 99;
	}

	button.menu-toggle {
		width: 50px;
	}

}

// about us page hero background image positioning
.page-id-28851 .page-hero.grid-container.grid-parent.dw-page-hero,
.page-id-25068 .page-hero.grid-container.grid-parent.dw-page-hero {
	background-position: center bottom;
}