.dw-footer-logo-wrapper {
  a {
    display: inline-block;
  }

  img {
    height: 120px;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-info__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-info__list-item + .footer-info__list-item {
  margin-left: 1em;

  &:before {
    padding-right: 1em;
    content: "|";
  }
}
