// *, *:before, *:after {
//   box-sizing: border-box;
// }

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // @media only screen and (min-width: 1200px) {}
  background-image: url("/wp-content/themes/dogwatch/img/puppy-page-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  // test new img
  //   background-image: url("/wp-content/themes/dogwatch/img/istockphoto-1189999060-1024x1024.jpg");
  //   background-repeat: repeat;
  //   background-size: 25%;
}

.page-content,
.entry-content,
.entry-summary {
  margin-bottom: 2em;
}

.entry-content h2 {
  @media only screen and (max-width: 768px) {
    font-size: 32px;
  }
}

body .container.grid-container,
body .page-hero.grid-container,
body .main-navigation.grid-container,
body .site-header.grid-container,
body .dw-page-hero.grid-container,
body .site-footer.grid-container {
  @media (min-width: 1040px) {
    width: 1000px;
    max-width: 1000px;
  }

  @media (min-width: 1240px) {
    width: 1200px;
    max-width: 1200px;
  }
}

//override generatepress containers
// 1200px at 1440px and above
// 1000px at 1024 - 1439px
// responsive 0 - 1023px
.page-hero.dw-page-hero {
  padding-top: 52.9166667%;
  background-size: cover;

  @media (min-width: 1040px) {
    padding-top: 542px;
    // background-size: 83.34%;
  }

  @media (min-width: 1240px) {
    padding-top: 635px;
    // background-size: cover;
  }
}

// in page content remove last paragraph margin in GB container
//REFACTOR - too destructive
// .gb-inside-container :last-child {
// 	margin-bottom: 0;
// }

@media only screen and (max-width: 767px) {
  .gb-grid-wrapper .gb-grid-column:last-of-type {
    padding-bottom: 0;
  }
}

.gb-grid-wrapper .gb-grid-column:last-of-type {
  margin-bottom: 0;
}

hr {
  background: rgb(35, 76, 150);
  background: linear-gradient(
    90deg,
    rgba(35, 76, 150, 0.5) 0%,
    rgba(210, 35, 42, 0.5) 100%
  );
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
}
