// off canvas menu
.slideout-navigation.main-navigation .main-nav ul {
  width: auto;

  li.menu-item {
    // border-left: solid 5px rgba(255,255,255,.5);
    // margin-left: 20px;

    a {
      // padding-left: 8px;
      display: block;
    }
  }

  .dw-slideout-header > a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $grey;
  }
}

.slideout-navigation.do-overlay .inside-navigation .main-nav {
  width: 100%;
  box-sizing: border-box;

  ul {
    width: 100%;
  }
}

//change offscreen menu width when sliding
body .offside--left.is-open,
.offside-js--is-left .offside-sliding-element {
  -webkit-transform: translate3d(320px, 0, 0);
  -moz-transform: translate3d(320px, 0, 0);
  -ms-transform: translate3d(320px, 0, 0);
  -o-transform: translate3d(320px, 0, 0);
  transform: translate3d(320px, 0, 0);
}

body .offside--right.is-open,
.offside-js--is-right .offside-sliding-element {
  -webkit-transform: translate3d(-320px, 0, 0);
  -moz-transform: translate3d(-320px, 0, 0);
  -ms-transform: translate3d(-320px, 0, 0);
  -o-transform: translate3d(-320px, 0, 0);
  transform: translate3d(-320px, 0, 0);
}

body .main-navigation.offside {
  width: 320px;
}

body .offside--left {
  left: -320px;
}

body .offside--right {
  right: -320px;
}

body.offside-js--is-left.slide-opened .slideout-overlay button.slideout-exit {
  left: 315px;
}
