// top bar meta content

//MENUs

.main-navigation .main-nav ul li a,
.secondary-navigation .main-nav ul li a,
.secondary-navigation .menu-toggle {
	@include transition;
}

.main-navigation .main-nav ul li,
.main-navigation .main-nav ul li a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.main-navigation .main-nav ul li li,
.main-navigation .main-nav ul li li a {
	font-size: 15px;
	text-transform: none;
	font-weight: 700;
}

#masthead,
#site-navigation {
	background-color: $dbrand;
}

.dw-header-links {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	> a {
		margin-right: 20px;
	}

	@media only screen and (max-width: $bps) {
		margin-left: 0;
		flex-direction: column;

		> a {
			margin-right: 0;
			margin-bottom: 20px;
			width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.dw-header-links--button {
	@include template-button;
	@include transition;
	font-weight: 700;
	text-transform: uppercase;
	//push logo to RHS
	margin-left: auto;
	// until the inline style generating the text shadow and button colour is found _
	color: #fff !important;
	text-shadow: none !important;

	@media only screen and (max-width: $bp) {
		// position: absolute;
		// bottom: -52px;
		// left: 50%;
		// transform: translateX(-50%);
		// padding: 10px 15px;
	}
}

.dw-header-links--icon {
	display: inline-block;
	img {
		max-height: 52px;
	}
}

.page-hero {
	position: relative;
}

.dw-hero-container {
	font-family: $font-head;
	position: relative;
	box-sizing: border-box;
	position: absolute;
	padding: 0;

	.page-id-75 & {
		// volunteer
		top: 20px;
		right: 20px;
		width: 32%;
		font-size: calc(10px + 3vw);
	}

	.page-id-25067 & {
		// donate
		top: 24%;
		right: 12px;
		width: 43%;
		font-size: calc(10px + 3vw);
	}

	@media (min-width: 768px) {
		.page-id-75 & {
			top: 40px;
			right: 40px;
			width: 258px;
			font-size: 36px;
		}

		.page-id-25067 & {
			top: 24%;
			right: 8%;
			width: 32%;
		}
	}

	@media (min-width: 1040px) {
		.page-id-75 & {
			top: 40px;
			right: 40px;
			width: 312px;
			font-size: 42px;
		}

		.page-id-25067 & {
			right: 6%;
			width: 312px;
			font-size: 42px;
		}
	}

	@media (min-width: 1240px) {
		.page-id-75 & {
			width: 372px;
			font-size: 52px;
		}

		.page-id-25067 & {
			top: 24%;
			width: 390px;
			font-size: 52px;
		}
	}

	.dw-page-excerpt {
		font-size: inherit;
		color: #fff;
		margin: 0;
		padding: 0;
		font-style: normal;
		font-weight: 700;
		text-shadow: none;
	}
}

.dw-page-excerpt:empty {
	display: none;
}

//mobile menu background on stick
.sticky-enabled .main-navigation.is_stuck {
	background-color: $dbrand;
}

.inside-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@media only screen and (max-width: $bp) {
		justify-content: center;
		padding: 10px 0 0;

		& > :not(:last-child):not(.main-navigation) {
			margin-bottom: 0;
		}

		.header-image {
			max-width: 240px;
			width: 60vw;
		}
	}

	@media only screen and (max-width: $bps) {
		flex-direction: column;
	}
}

// Home page slider

.wp-block-nextend-smartslider3 {
	margin: -40px -40px 40px;
}

// burger
.menu-toggle {
	font-size: 26px;
}

//MENUs

.main-navigation .main-nav ul li:not([class*="current-menu-"]):hover > a,
.main-navigation .main-nav ul li:not([class*="current-menu-"]):focus > a,
.main-navigation .main-nav ul li.sfHover:not([class*="current-menu-"]) > a,
.main-navigation .menu-bar-item:hover > a,
.main-navigation .menu-bar-item.sfHover > a {
	background-color: $dbrand;
}
