.dw-social-icons__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	.dw-social-icons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 0;
	}

	.dw-social-icons__item {
		list-style-type: none;
		position: relative;

		+ .dw-social-icons__item {
			margin-left: 12px;
		}
	}

	.dw-social-icons__link,
	.dw-social-icons__link:visited {
		display: inline-block;
		color: #fff;
		background-color: transparent;
		width: 52px;
		height: 52px;
		border-radius: 100%;
		padding: 2px;
		text-align: center;
	}

	&.dw-social-icons__wrapper--header {
		margin-left: 20px;

		@media only screen and (max-width: $bp) {
			// display: none;
		}

		.dw-social-icons {
			justify-content: flex-end;
		}
	}
}

.footer-bar .dw-social-icons__wrapper {
	margin-bottom: 20px;
}

@media only screen and (max-width: $bp) {
	.inside-header {
		justify-content: center;
	}
}
