.offside--left.is-open, .offside-js--is-left .offside-sliding-element {
    -webkit-transform: translate3d($dw-offcanvas,0,0);
    -moz-transform: translate3d($dw-offcanvas,0,0);
    -ms-transform: translate3d($dw-offcanvas,0,0);
    -o-transform: translate3d($dw-offcanvas,0,0);
    transform: translate3d($dw-offcanvas,0,0);
}
.offside--right.is-open, .offside-js--is-right .offside-sliding-element {
    -webkit-transform: translate3d(-$dw-offcanvas,0,0);
    -moz-transform: translate3d(-$dw-offcanvas,0,0);
    -ms-transform: translate3d(-$dw-offcanvas,0,0);
    -o-transform: translate3d(-$dw-offcanvas,0,0);
    transform: translate3d(-$dw-offcanvas,0,0);
}

.main-navigation.offside {
    width: $dw-offcanvas;
}
.offside--left {
    left: -$dw-offcanvas;
}   
.offside--right {
    right: -$dw-offcanvas;
}
.offside-js--is-left.slide-opened .slideout-overlay button.slideout-exit {
    left: ($dw-offcanvas - 5);
}