// map
.dw-map-container {
	width: 100%;
	// max-width: 100%;
	height: 400px;
	max-height: 400px;
	margin-bottom: 20px;

	> iframe {
		width: 100%;
		height: 100%;
		max-height: 400px;
	}
}

// pods pagination
.pods-pagination-advanced {
	display: block;
	margin: 10px 0;
}

.pods-pagination-number {
	font-family: $font-head;
	font-weight: bold;
	font-size: 16px;
	padding: 8px;
	border: solid 1px transparent;
	border-radius: 100%;
}

.pods-pagination-current {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	background: $brand;
	color: #fff;
	min-width: 39px;
}

// home page CTA x3

// .gb-inside-container {
//   // padding: 100% 0 0 0;
// }

//off canvas menu margins
#generate-slideout-menu .slideout-menu li {
	margin: 5px 0;
}

//emphasise links
.inside-article a,
.inside-article a:hover,
.inside-article a:visited {
	text-decoration: underline;
}

.cart .quantity.buttons-added a,
.cart .quantity.buttons-added a:hover,
.cart .quantity.buttons-added a:visited {
	text-decoration: none;
}

//presentation table
.dw-presentation-table {
	border: none;

	td {
		border: none;

		&:first-child-of-type {
			width: 1%;
		}
	}
}

//Legend on dog adoptions page
.dw-legend-item-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	align-items: center;
}

.dw-legend-item-icon {
	margin-right: 10px;
}

.dw-legend-item-text {
	font-size: 14px;
}

//page content images half width responsive
.wp-block-image.dw-content-image {
	img {
		width: 100%;
	}

	&.dw-content-image__portrait img {
		width: auto;
		max-width: 100%;
	}

	.alignright,
	.alignleft,
	.aligncenter {
		margin: 0 0 1em;
		width: 100%;

		@media only screen and (max-width: 767px) {
			float: none;
		}
	}

	@media only screen and (min-width: 768px) {
		.alignright {
			width: 50%;
			margin-left: 2em;
		}

		.alignleft {
			width: 50%;
			margin-right: 2em;
		}
	}
}

//for lists wihtout bullets
.dw-plain-list {
	list-style-type: none !important;
	margin-left: 1.5em;

	.dw-plain-list {
		margin-top: 1em;
	}

	li {
		text-indent: -1.5em;
		padding-left: 0.5em;
		margin-bottom: 1em;
	}
}

// captions for adoption story photos
// .dw-img-full-width {
// 	width: 100%;
// }

// photo captions
.wp-block-image .wp-element-caption {
	padding: 6px 0 1em;
	text-align: left;
}
