.dw-single-dog__header {
  font-family: $font-head;
  font-size: 40px;
  font-weight: 700;
  margin: 1em 0;

  @media only screen and (max-width: $bp) {
    font-size: 30px;
  }

  &.male {
    color: $hover;
  }

  &.female {
    color: $brand;
  }
}

.blog-card {
  margin-bottom: 5em;
}

.post-images {
  position: relative;
}

.dw-dog-flags-container {
  background-color: #d22329;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 9;

  &__inline {
    position: relative;
    width: 24px;
    display: inline-flex;

    .dw-on-trial,
    .dw-foster-home {
      padding: 3px;
    }

    &.dw-dog-flags-container {
      > * {
        height: 24px;
        width: 24px;
      }

      .dw-on-trial {
      }

      .dw-foster-home {
        line-height: 24px;
        padding: 0;
        font-size: 20px;
      }
    }
  }

  > * {
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 0;
    box-sizing: border-box;
  }
}

.dw-on-trial {
  padding: 9px;

  > svg {
    width: 100%;
    height: auto;
  }
}

.dw-foster-home {
  font-weight: bold;
  font-size: 24px;
  font-family: $font-head;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
}

.dw-sponsored-container {
  position: absolute;
  right: 0;
  top: -20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dw-sponsored-title {
  font-size: 14px;
  font-family: $font-head;
  font-weight: bold;
  color: $grey;
  padding-top: 4px;
}

.dw-sponsored-image {
  height: 65px;

  > img {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .dw-sponsored-container {
    position: relative;
    align-items: flex-start;
  }
}

.inside-article {
  position: relative;
}

// rehomed
.dw-rehomed-header-date {
}
