// .slider-pro {
// 	// background-color: #373642;

// 	@media only screen and (min-width: 801px) {
// 		// padding-top: 4px;
// 		// padding-bottom: 4px;
// 	}
// }

.sp-top-thumbnails,
.sp-bottom-thumbnails {
  margin-left: 0;
}

.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  border-bottom-color: $red;
}

.sp-arrow {
  background: #333;
  border: solid 10px #333;
}

// // opacity
// .sp-slide {
// 	transition: opacity 400ms ease;
// 	// opacity: .5;
// }

// .sp-slide.sp-selected {
// 	opacity: 1;
// }

@media only screen and (max-width: 800px) {
  .sp-thumbnails-container {
    display: none;
  }
}
