#product-32194 .woocommerce-product-gallery,
#product-32194 .stock,
#product-32194 .product_meta {
	display: none;
	border: none;
	margin: none;
}

// #product-32194 #wccf_product_field_master_container {
// 	/*display: flex;
// 	flex-direction: column-reverse;*/
// }

#product-32194 .price {
	font-size: 2em;
	margin-bottom: 1em;
}
.woocommerce .actions .button {
	margin-left: 1em;
}

#product-32194 #wccf_product_field_master_container {
	max-width: 500px;
}

/* dog adoption product payment */
.page-id-29880 #product-33302 .woocommerce-product-gallery,
.page-id-29880 #product-33302 .product_meta {
	display: none;
}
.page-id-29880 #product-33302 .price {
	margin-bottom: 0;
}

.page-id-29880 #product-33302 .product_title {
	font-size: 24px;
}

/* remove top border on product meta */

.summary.entry-summary > .product_meta {
	border-top: none;
}

/* pricing tables */
.dw-table {
	width: auto;
}

.dw-table thead td {
	font-weight: bold;
}

/* woo add to cart bit fix */
.woocommerce-variation-add-to-cart {
	align-items: baseline;
}

/* prevent layout shift when price updates */
.rightpress_product_price_live_update > dd {
	min-width: 3.75em;
}

/* rp donation block */
.rp-donation-block .input.text {
	display: flex;
	flex-direction: column;
}

.rp-donation-block .input.text .button {
	margin-top: 0.5em;
}

/*fix padding bug*/
.gb-inside-container {
	padding-top: 0;
}

/* add donation cart btn */
input.button.donate-btn,
input.button.donate-remove {
	max-width: 200px;
}
/* END OF SCSS OUTPUT 28/1/25 */
