@mixin transition {
  transition: all 300ms ease;
}

@mixin template-button {
  background: #000 !important;
  color: #fff !important;
  text-decoration: none;
  border: none;
  border-width: 0;
  border-radius: 6px;
  font-size: 16px;
  font-family: $font-head;
  font-weight: normal;
  font-style: normal;
  padding: 15px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  box-sizing: border-box;
  text-shadow: none !important;

  &:hover {
    background: $grey;
    color: #fff;
    text-decoration: none;
    border: none;

    &-alt {
      background: $brand;
    }
  }
}
