$br: 6px;

.dw-card-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	// outline: solid 1px red;
	padding-top: 1em;
	margin-left: -1em;
	margin-right: -1em;

	.dw-card,
	.dw-card * {
		box-sizing: border-box;
	}

	.dw-card {
		background: $dbrand;
		color: #fff;
		margin: 20px 1em;
		border: solid 1px #fff;
		position: relative;
		width: 100%;
		border-radius: $br;

		&:hover {
			box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
		}

		a,
		a:hover,
		a:focus,
		a:active {
			color: #fff;
			text-decoration: none;
		}

		@media only screen and (min-width: 501px) and (max-width: 899px) {
			width: calc(50% - 2em);
		}

		@media only screen and (min-width: 900px) and (max-width: 1099px) {
			width: calc(33.33334% - 2em);
		}

		@media only screen and (min-width: 1100px) {
			width: calc(25% - 2em);
		}
	}

	.dw-card-image-container {
		padding-top: 240px;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: $br $br 0 0;
		position: relative;
	}

	.dw-image-overlay {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		height: 240px;
		background-color: #000;
		border-radius: $br $br 0 0;
		@include transition;
	}

	.dw-card a:hover .dw-image-overlay {
		opacity: 0.4;
	}

	.dw-image-overlay__rollover {
		position: relative;
		color: #fff;
		top: calc(50% - 50px);
		left: 10px;
		transform: translateX(50%);
		opacity: 0.8;

		.dw-arrow-overlay {
			width: 130px;
		}
	}

	.dw-card a:hover .dw-image-overlay__rollover {
		left: calc(50% - 65px);
		transition: left 0.5s ease-out, opacity 0.8s ease-out;
	}
}

.dw-card-title {
	padding: 16px;
	margin: 0;
	color: #fff;
	line-height: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
	border-radius: 0 0 $br $br;

	> h2 {
		color: #fff;
		font-size: 30px;
		margin: 0;
		padding: 0;
	}

	.dw-rehomed-header-date {
		font-size: 14px;
		margin-top: 4px;
	}
}

.dw-dog-card-details {
	display: block;
	margin: 0;
	padding: 0 16px 1em;
	font-size: 14px;
	color: inherit;
}

// dog key value pairs same as on card or in single page
.dw-dog-details {
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dw-dog-column {
	width: 100%;

	@media only screen and (min-width: 900px) {
		width: 47%;
		margin-bottom: 6px;
	}
}

.dw-dog-meta-container {
	// color: $brand;
	padding: 6px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: solid 1px $mgrey;

	.dw-card & {
		&:last-of-type {
			padding-bottom: 0;
			border: none;
		}

		&:first-of-type {
			padding-top: 0;
		}
	}

	@media only screen and (min-width: 900px) {
		&:first-of-type {
			border-top: none;
		}
	}
}

.dw-dog-meta__value {
	font-size: 15px;

	> p,
	> ul,
	> ol {
		margin: 6px 0 1em 0;
	}
}

.dw-dog-meta__key {
	font-family: $font-head;
	font-weight: 700;
	font-size: 15px;
	min-width: 25%;
	white-space: normal;
}

.dw-dog-column__full-width {
	width: 100%;

	.dw-dog-meta-container {
		flex-direction: column;

		@media only screen and (min-width: 900px) {
			padding-top: 1em;
		}
	}

	.dw-dog-meta__key {
		padding-bottom: 6px;
	}

	.dw-dog-meta__value {
		:last-child {
			margin-bottom: 6px;
		}
	}
}

@media only screen and (max-width: 520px) {
	.dw-dog-meta-container {
		flex-direction: column;

		.dw-card & {
			flex-direction: row;
		}
	}

	.dw-dog-meta__key {
		flex-direction: column;
	}
}

@media only screen and (min-width: $bp) {
	.dw-dog-meta__key {
		// white-space: nowrap;
		margin-right: 1em;
	}
}

//rehomed dogs

.dw-rehomed-list {
	.dw-card {
		background-color: $brand;

		&:hover {
			box-shadow: none;
		}
	}
}

.dw-rehomed-header-date {
	font-size: 1rem;
	font-weight: normal;
	margin-left: 4px;
}

// adoption stories

.dw-adoption-story-card-title {
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-bottom: 6px;
}

.dw-adoption-story-card-info {
	font-size: 1rem;
	line-height: 1.2;
}

//home page latest dogs

.dw-card-list__homeZZZ {
	justify-content: space-around;
	margin-bottom: 0px;

	.dw-card-title {
		padding: 20px 20px 0;
	}

	.dw-dog-card-details {
		padding: 5px 20px 20px;
	}

	.dw-dog-flags-container {
		// not on the home page
		display: none;
	}

	@media only screen and (min-width: 520px) {
		.dw-card {
			width: 48%;
		}
	}

	@media only screen and (min-width: 768px) {
		.dw-card {
			width: 40%;
		}
	}

	@media only screen and (min-width: 1240px) {
		.dw-card {
			width: 240px;
		}
	}
}
