// woo commerce overrides

// !! see buttons scss !!

//buttons
// .woocommerce button.button:disabled,
// .woocommerce button.button:disabled[disabled] {
//   // padding: 15px 20px;
// }

//margins on LHS of buttons in groups
.woocommerce .woocommerce-cart-form .button,
.woocommerce .woocommerce-cart-form .dw-button {
  + .button,
  + .dw-button {
    margin-left: 0.5em;
  }
}

//inside info boxes de-float button
@media only screen and (max-width: 500px) {
  .woocommerce .woocommerce-notices-wrapper .woocommerce-message {
    display: flex;
    flex-direction: column-reverse;

    .button {
      margin-top: 1em;
    }
  }
}

//info boxes
.woocommerce-info {
  background-color: $brand;
}

.woocommerce-error {
  background-color: $rust;
}

.woocommerce-message {
  background-color: $lime;

  + p {
    margin-top: 1em;
  }
}

.woocommerce .woocommerce-notices-wrapper a,
.woocommerce .woocommerce-notices-wrapper a:visited,
.woocommerce .woocommerce-NoticeGroup a,
.woocommerce .woocommerce-NoticeGroup a:visited {
  color: #fff;
}

//name your price donation button postid-29793

.postid-29793 {
  .cart {
    position: relative;

    > label {
      display: none;
    }

    .alg_open_price.text {
      text-align: left;
      width: 120px !important;
      padding-left: 28px;
      margin-right: 4px;
      font-size: 20px;
      font-weight: 700;
      background-color: transparent;
      border: solid 1px rgba(0, 0, 0, 0.1);
      color: #222;
    }

    .popfwc-currency-symbol {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      width: 1em !important;
      font-size: 20px;
      font-weight: 700;
      color: #222;
    }
  }
}

// DONATE- YOU CHOOSE
#product-29793 .woocommerce-tabs ul.wc-tabs {
  display: none;
}

//Remove liveupdate price field on non-variable pages
.cart .rightpress_product_price_live_update {
  display: none !important;

  // Gift card, you choose
  .postid-30636 &,
  .postid-29793 & {
    display: block !important;
  }
}

//Remove quantity on product page (leave it on cart though)
.woocommerce div.product form.cart div.quantity {
  display: none;
}

//CHECKOUT PAGE

// remove pointless payment express label and description
// make these visible again if more gateways installed
#payment .payment_methods > .wc_payment_method > label,
.woocommerce-checkout #payment div.payment_box {
  display: none !important;
}

.dw-woo-terms-and-conditions-header {
  display: none;

  .woocommerce-terms-and-conditions & {
    display: block;
  }
}

//line up create account / want a receipt etc buttons
.woocommerce form .form-row .input-checkbox,
.woocommerce input.wccf_checkout_field_checkbox,
.woocommerce
  input.woocommerce-form__input
  .woocommerce-form__input-checkbox.input-checkbox,
.woocommerce-form__input.woocommerce-form__input-checkbox {
  margin-right: 2px;
}

//sale button red
.woocommerce span.onsale {
  background-color: $red;
}

//cart indicator background colour
.cart-contents > span.number-of-items {
  background-color: $red !important;
}

// DONATE- YOU CHOOSE
#product-29793 .woocommerce-tabs ul.wc-tabs {
  display: none;
}

// remove tabs on each page - don't need em
.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs {
  display: none;
}

//remove +/- buttons for donations

.quantity .minus,
.quantity .plus {
  font-size: 20px;

  #product-29841 &,
  #product-29842 &,
  #product-29843 & {
    display: none;
  }
}

//custom fields plugin
.wccf_field_container abbr.required,
#wccf_product_field_variabledonation_container .wccf_price_label,
#wccf_product_field_variabledonation_container .wccf_min_max_limit {
  display: none;
}

//receipt required checkbox vertical alignment
.wccf_field_container.wccf_field_container_checkout_field.wccf_field_container_checkbox.wccf_field_container_checkout_field_checkbox {
  margin-bottom: 0;
}

//bold up them checkbox questions
#wccf_product_field_sendtodifferentaddresscheckbox_sendtoadifferentaddresscheckboxyes,
#wccf_product_field_taxreceiptrequiredcheckbox_taxreceiptrequiredcheckboxyes {
  + label {
    font-weight: bold;
  }
}

// gift card donation, you choose donation
//gift card and you choose products don't show $0.00 as price
#product-30636,
#product-29793 {
  h1.product_title + .price .woocommerce-Price-amount,
  h1.product_title + .price .woocommerce-price-suffix {
    display: none;
  }
}

//donation products don't need quantities to add to cart
#product-30636,
#product-29843,
#product-29842,
#product-29841,
#product-29793 {
  .quantity.buttons-added {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .shop_table .actions > * {
    margin-bottom: 0.5em !important;
  }

  .woocommerce #content table.cart td.actions .button,
  .woocommerce table.cart td.actions .button,
  .woocommerce-page #content table.cart td.actions .button,
  .woocommerce-page table.cart td.actions .button {
    box-sizing: border-box;
  }
}

//make coupon input same height as dw buttons
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  padding: 14px 15px;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  margin-top: 20px;
}

//indicate that quantity buttons are there
.quantity.buttons-added {
  position: relative;

  &:before {
    content: "Select quantity:";
    position: absolute;
    top: -25px;
    white-space: nowrap;
  }
}

//remove quantity indicator text in grid
form.woocommerce-cart-form .quantity.buttons-added:before {
  content: "";
}

//cart tables bit squished
.woocommerce table.shop_table td,
.woocommerce table.shop_table th {
  padding: 20px 5px;
}

//MY ACCOUNT page
.woocommerce-MyAccount-navigation {
  margin-bottom: 1.5em;
}

// from gp

.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
  float: none;
  width: auto;
}

.woocommerce-MyAccount-navigation ul {
  margin: 0;
  border-top: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
}

.site-main .woocommerce-MyAccount-navigation li {
  font-family: $font-head;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 1px 0.5em 0;
  padding: 0;

  &:last-of-type {
    margin-right: 0;
  }
}

.woocommerce-MyAccount-navigation li a,
.woocommerce-MyAccount-navigation li a:visited {
  display: block;
  padding: 1em;
  border-bottom: none;
  font-size: inherit;
  font-weight: bold;
  background-color: $brand;
  color: #fff;
  text-decoration: none;

  &:hover {
    background-color: $brand;
    color: #fff;
    text-decoration: none;
  }
}

.woocommerce-MyAccount-navigation li a:hover {
  border-bottom: none;
}

.woocommerce-MyAccount-navigation li.is-active a:after {
  font-family: sans-serif;
  content: "";
}

.woocommerce-account {
  .woocommerce-MyAccount-navigation {
    width: auto;
  }

  .woocommerce-Address-title.title {
    h3,
    .edit {
      display: inline-block;
    }
  }

  // action buttons
  .woocommerce-Address-title.title .edit,
  .woocommerce-orders-table .woocommerce-button {
    padding: 0.5em;
    border-radius: 0;
    text-shadow: none;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 13px;
    color: #fff !important;
    background: $brand;
    margin-left: 0.5em;
    float: none;

    &:hover {
      background: $brand;
      text-decoration: none;
      color: #fff;
    }

    + .woocommerce-button {
      margin-left: 0.5em;
    }
  }
}

.woocommerce
  .woocommerce-customer-details.woocommerce-customer-details
  address {
  border: none;
}

//form labels and inputs alignment ... sigh ....
