// .dw-media-downloads-container {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;

// 	.dw-button {
// 		margin-top: 1em;
// 	}
// }

// .dw-media-card {

// 	display: flex;
// 	flex-direction: column;
// 	flex-grow: 1;
// 	align-items: center;
// 	justify-content: space-between;
// 	margin: 20px auto;
// 	width: 100%;
// 	padding: 20px;
// 	box-sizing: border-box;
// 	border: solid 1px $brand;
// 	border-radius: 8px;

// 	@media screen and (min-width: 500px) {
// 		width: 48%;
// 		flex-grow: 0;
// 	}

// 	@media screen and (min-width: $bp) {
// 		width: 30%;
// 	}

// }

// .dw-media-card-title {
// 	text-align: center;
// }

// .dw-media-card-image-container {
// 	text-align: center;
// 	height: 100%;
// 	max-height: 200px;
// }

// .dw-media-card-image {
// 	max-width: 100%;
// 	max-height: 100%;
// 	height: auto;
// }

.dw-media-card .gb-inside-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
