// home-made dw toggle styles - don't need if using getwid

.dw-toggle-container {
  .gb-headline-wrapper {
    margin: 1em 0;
    cursor: pointer;
    // iphone 6 bug - see below
    position: relative;
    padding-left: 0;
  }

  .gb-icon {
    color: #000;
    border-radius: 100%;
    margin-right: 10px;

    svg {
      fill: currentColor;
      width: 18px;
      height: 18px;
    }
  }

  .dw-open .gb-icon {
    transform: rotate(180deg);
  }

  .dwToggleBody {
    display: none;
    padding-bottom: 1em;
  }
}

/* fix dwToggles */

.dw-toggle-container .gb-inside-container {
  padding: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.dwToggleHeader {
  margin: 1em 0;
  cursor: pointer;
  position: static;
}
