.caldera-grid .btn.dw-form__submit-button,
.caldera-grid .btn.dw-form__submit-button:visited,
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce input.button,
.woocommerce .coupon .button,
.woocommerce ul.products li.product .button,
.dw-home-box-container .gb-button-wrapper .dw-button,
.dw-button.dw-donate-button,
.dw-donate-buttons .gb-button,
.dw-button.gb-button,
.woocommerce.widget_shopping_cart .woocommerce-mini-cart__buttons .button,
.woocommerce .woocommerce-message .button {
  @include template-button;
}

.gb-button.dw-button-alt {
  @include template-button;
  background: $dbrand;

  &:hover {
    background: $brand;
  }
}

//smaller buttons - less padding
.woocommerce .woocommerce-notices-wrapper .woocommerce-message .button {
  padding: 8px 12px;
  align-self: center;
}

//larger woo button - place order
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
}

.caldera-grid .form-group label {
  font-family: $font-head;
  font-weight: normal;
}

.caldera-grid .form-group .field_required {
  display: none;
}

// GB buttons
.gb-button-wrapper .gb-button {
  &:hover {
    text-decoration: none;
  }
}

//donate buttons
.dw-donate-buttons {
  .gb-button {
    font-size: 24px;

    &.you-choose {
      line-height: 1.2;
      min-width: 6.75em;
    }

    span {
      display: block;
      font-size: 40px;
      line-height: 1;
    }
  }
}

//generateblocks button override - inline
.gb-button-wrapper.dw-buttons-inline {
  clear: none;
  margin-bottom: 3rem;
}
