.dw-events-item-title {
  margin-bottom: 0;
}

.dw-events-details {
  margin: 1.5em 0;

  > div:first-child {
    margin-bottom: 4px;
  }
}

.dw-events-location,
.dw-events-date {
  color: $dbrand;
  font-family: $font-head;
  font-weight: normal;
  font-size: 1em;
  display: block;
  margin: 0;
  padding: 0;
}

.dw-event-calendar-container,
.dw-event-location-container {
  display: inline-block;
  color: $brand;
  margin-right: 0.5em;

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
}

.dw-events-body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.dw-events-description,
.dw-events-image-container {
  margin: 1em 0;
}

@media screen and (min-width: 910px) {
  .dw-events-body-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  .dw-events-description,
  .dw-events-image-container {
    margin: 1em 0;
    flex-basis: 50%;
  }
}
