.dw-round-bg {
	border-radius: 100%;
}

.desktop-only {
	@media only screen and (max-width: 768px) {
		display: none !important;
	}
}

.mobile-only {
	@media only screen and (min-width: 769px) {
		display: none !important;
	}
}

.text-center {
	text-align: center;
}