// assumes revo slider

.page-hero {
  position: relative;

  &.dw-home-slider {
    background-image: url("/wp-content/themes/dogwatch/img/dw-slider-blur.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 0;
  }
}
